[Bb]in/
[Db]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
msbuild.log
msbuild.err
msbuild.wrn

*.suo
*.user
*.userosscache
*.sln.docstates
*.Dot
nuget.config

/packages/
riderModule.iml
/_ReSharper.Caches/
assets/
*.csproj.DotSettings
.idea/
.vscode
.git

LocalRun.cs
