[Bb]in/
[Db]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
msbuild.log
msbuild.err
msbuild.wrn

*.suo
*.user
*.userosscache
*.sln.docstates

/packages/
riderModule.iml
/_ReSharper.Caches/
assets/

.idea/
.git
